<h2 align="center">Welcome to Project Management System</h2>
<!DOCTYPE html>
<html>

<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }

    .active {
      background-color: #4CAF50;
    }
  </style>
</head>

<body >

  <ul>

 
    <li ><a routerLink="project">project</a></li>
   
    <li  *ngIf='roleFlag'><a routerLink="user">View Users</a></li>
    <li  *ngIf='roleFlag'><a routerLink="logout">Logout</a></li>
      <li align="right" ><a  routerLink="login">Login</a></li>

  </ul>
  <!--<app-project></app-project>-->
</body>

</html>
<app-home></app-home>

<router-outlet></router-outlet>