<div align="center">
<table>
    <tbody>

        <tr>
            <td>Login Name:</td>
            <td><input type="text" [(ngModel)]="user.loginName" name="user.loginName"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" [(ngModel)]="user.password" name="user.password"></td>
        </tr>
        <tr>
            <td><button (click)="onSubmit()">Submit</button></td><td><a routerLink="register">Register</a></td>

    </tbody>
</table>
</div>